.body{
	font-family: Arial;
	font-weight: 700;
	color:#003d79;
	background:url('../images/homepage-bg.jpg');
	background-size: cover;
	font-size: 40px;
	height:100%;
	padding:300px 0px;
	position: fixed;
	z-index:0;
	line-height: 35px;
}

#wrap_nav{
	z-index: 1;
}

.body span{
	margin:0;
	font-size: 24px;
	font-weight: 500;
}


footer{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background:#003d79;
	
}


footer .c_blue{
color:#fff !important;
}

@media only screen and (max-width: 767px ){
	.body{
		padding-top:200px;
		font-size: 28px;
	}

	.body span{
		font-size: 22px;
	}
}