.arial{ font-family:'Arial'; }

.dib{ display:inline-block !important; }
.fixed{ position:fixed !important; }
.relative{ position:relative !important; }
.absolute{ position:absolute !important; }
.center{ text-align:center !important; }
.left{ text-align:left !important; }
.right{ text-align:right !important; }
.justify{ text-align:justify !important; }
.middle{ vertical-align:middle !important; }
.h_noline a:hover,.h_noline a:focus,.h_noline a:visited,.h_noline a:active,
a.h_noline:hover,a.h_noline:focus,a.h_noline:visited,a.h_noline:active{ text-decoration:none !important; }
.h_line a:hover{ text-decoration:underline !important; }
.cs_df{ cursor:default !important; }
.cs_pt{ cursor:pointer !important; }
.cs_auto{ cursor:auto !important; }
.cs_none{ cursor:none !important; }
.cs_cm{ cursor:context-menu !important; }
.cs_help{ cursor:help !important; }
.cs_pg{ cursor:progress !important; }
.cs_wait{ cursor:wait !important; }
.cs_cell{ cursor:cell !important; }
.cs_ch{ cursor:crosshair !important; }
.cs_text{ cursor:text !important; }
.cs_vt{ cursor:vertical-text !important; }
.cs_alias{ cursor:alias !important; }
.cs_copy{ cursor:copy !important; }
.cs_move{ cursor:move !important; }
.cs_nd{ cursor:no-drop !important; }
.cs_na{ cursor:not-allowed !important; }
.cs_as{ cursor:all-scroll !important; }
.cs_cr{ cursor:col-resize !important; }
.cs_rr{ cursor:row-resize !important; }
.cs_nr{ cursor:n-resize !important; }
.cs_er{ cursor:e-resize !important; }
.cs_sr{ cursor:s-resize !important; }
.cs_wr{ cursor:w-resize !important; }
.cs_nsr{ cursor:ns-resize !important; }
.cs_ewr{ cursor:ew-resize !important; }
.cs_ner{ cursor:ne-resize !important; }
.cs_nwr{ cursor:nw-resize !important; }
.cs_ser{ cursor:se-resize !important; }
.cs_swr{ cursor:sw-resize !important; }
.cs_nesw{ cursor:nesw-resize !important; }
.cs_nwse{ cursor:nwse-resize !important; }
.over_hd{ overflow:hidden !important; }
.over_sc{ overflow:scroll !important; }
.no_border{ border:none !important; }
.no_bg{ background:none !important; }
.fl{ float:left !important; }
.fr{ float:right !important; }
.fn{ float:none !important; }
.up{ text-transform:uppercase !important; }
.no_transform{ text-transform:none !important; }
.opacity_0{ opacity:0; }
.opacity_1{ opacity:1; }
.v_none{ visibility: hidden; }
.v_display{ visibility: visible; }
.w100{ width:100%; }
.bold{ font-weight:bold !important; }
.w_normal{ font-weight:normal !important; }
.italic{ font-style:italic !important; }
.s_normal{ font-style:normal !important; }

.pl_0{ padding-left: 0px !important; }
.pr_0{ padding-right: 0px !important; }
.pl_15{ padding-left: 15px !important; }
.pr_15{ padding-right: 15px !important; }
.pl_0_res{ padding-left: 0px !important; }
.pr_0_res{ padding-right: 0px !important; }

.fs_10{ font-size: 10px; }
.fs_12{ font-size: 12px; }
.fs_14{ font-size: 14px; }
.fs_16{ font-size: 16px; }
.fs_18{ font-size: 18px; }
.fs_20{ font-size: 20px; }
.fs_22{ font-size: 22px; }
.fs_24{ font-size: 24px; }
.fs_26{ font-size: 26px; }
.fs_28{ font-size: 28px; }
.fs_30{ font-size: 30px; }

.ls_2{ letter-spacing: 2px; } /* kerning 100 */
.ls_3{ letter-spacing: 3px; } /* kerning 200 */

.lh_25{ line-height: 25px; }
.lh_30{ line-height: 30px; }
.lh_35{ line-height: 35px; }
.lh_40{ line-height: 40px; }
.lh_45{ line-height: 45px; }
.lh_50{ line-height: 50px; }

.pt_10{ padding-top: 10px; }
.pb_10{ padding-bottom: 10px; }
.pt_15{ padding-top: 15px; }
.pb_15{ padding-bottom: 15px; }
.pt_20{ padding-top: 20px; }
.pb_20{ padding-bottom: 20px; }
.pl_10{ padding-left: 10px; }
.pr_10{ padding-right: 10px; }
.pl_15{ padding-left: 15px; }
.pr_15{ padding-right: 15px; }
.pl_20{ padding-left: 20px; }
.pr_20{ padding-right: 20px; }

.mt_10{ margin-top: 10px; }
.mb_10{ margin-bottom: 10px; }
.mt_15{ margin-top: 15px; }
.mb_15{ margin-bottom: 15px; }
.mt_20{ margin-top: 20px; }
.mb_20{ margin-bottom: 20px; }
.ml_10{ margin-left: 10px; }
.mr_10{ margin-right: 10px; }
.ml_15{ margin-left: 15px; }
.mr_15{ margin-right: 15px; }
.ml_20{ margin-left: 20px; }
.mr_20{ margin-right: 20px; }

.mt_30{ margin-top: 30px; }
.mb_30{ margin-bottom: 30px; }
.mt_40{ margin-top: 40px; }
.mb_40{ margin-bottom: 40px; }
.mt_90{ margin-top: 90px; }
.mb_90{ margin-bottom: 90px; }

.bg_blue{ background:#f2f8fb; }
.bg_blue2{ background:#0f2b5b; }
.bg_white{ background:#fff; }
.bg_yellow{ background:#f6cf00; }
.bt_1_grey{ border-top: 1px solid #d7d7d7; }
.bb_1_grey{ border-bottom:1px solid #d7d7d7; }
.bl_1_grey{ border-left: 1px solid #d7d7d7; }
.br_1_grey{ border-right: 1px solid #d7d7d7; }

.bg_white[disabled], .bg_white[readonly]{ background: #fff; }

.c_white, .c_white:hover, .c_white:focus, .c_white:active, .c_white a, .c_white a:hover, .c_white a:focus, 
a.c_white, a.c_white:hover, a.c_white:focus{ color: #fff; }
.c_blue, .c_blue:hover, .c_blue:focus, .c_blue:active, .c_blue a, .c_blue a:hover, .c_blue a:focus, 
a.c_blue, a.c_blue:hover, a.c_blue:focus{ color: #1c6296; }
.c_blue2, .c_blue2:hover, .c_blue2:focus, .c_blue2:active, .c_blue2 a, .c_blue2 a:hover, .c_blue2 a:focus, 
a.c_blue2, a.c_blue2:hover, a.c_blue2:focus{ color: #0f2b5b; }
.c_yellow, .c_yellow:hover, .c_yellow:focus, .c_yellow:active, .c_yellow a, .c_yellow a:hover, .c_yellow a:focus, 
a.c_yellow, a.c_yellow:hover, a.c_yellow:focus{ color: #f1b900; }
.c_grey, .c_grey:hover, .c_grey:focus, .c_grey:active, .c_grey a, .c_grey a:hover, .c_grey a:focus, 
a.c_grey, a.c_grey:hover, a.c_grey:focus{ color: #666; }

/* style bootstrap */
#wrap_nav .navbar {
	min-height: 0;
	margin-bottom: 0px;
}

#wrap_nav .navbar-default {
	background: none;
	border: none;
}

#wrap_nav .navbar-collapse {
	padding: 0;
}

#wrap_nav .navbar-nav > li {
	padding-top: 20px;
	padding-bottom: 20px;
}

#wrap_nav .navbar-nav > li > a {
	font-size: 12px;
	line-height: 12px;
	color: #1c6296;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right: 1px solid #1c6296;
}

#wrap_nav .navbar-nav > li.dropdown > a {
	border-right: 0px solid #1c6296;
}

#wrap_nav .navbar-nav > li > .dropdown-menu{
	padding: 10px 0px 0px;
	background: url(../images/arrow_dropdown.png) no-repeat 130px top;
	border: 0px;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0);
	box-shadow: 0 0 0 rgba(0,0,0,0);
}

#wrap_nav .dropdown-menu > li > a {
	font-size: 12px;
	font-weight: bold;
	color: #0f2b5b;
	padding: 15px 20px;
}

#wrap_nav .dropdown-menu > li.bg_yellow > a:focus, 
#wrap_nav .dropdown-menu > li.bg_yellow > a:hover {
	background: #f6cf00;
}

#wrap_nav .dropdown-menu > li.bg_white > a:focus, 
#wrap_nav .dropdown-menu > li.bg_white > a:hover {
	background: #fff;
}

#wrap_nav .navbar-default .navbar-nav > li > a:focus, 
#wrap_nav .navbar-default .navbar-nav > li > a:hover {
	color: #0f2b5b;
	font-weight: bold;
}

#wrap_nav .navbar-default .navbar-nav > .active {
	background: #fff url(../images/active_nav.png) no-repeat center 40px;
}

#wrap_nav .navbar-default .navbar-nav > .active > a, 
#wrap_nav .navbar-default .navbar-nav > .active > a:focus, 
#wrap_nav .navbar-default .navbar-nav > .active > a:hover {
	color: #0f2b5b;
	font-weight: bold;
	background: none;
}

#wrap_nav .navbar-default .navbar-nav > .open > a, 
#wrap_nav .navbar-default .navbar-nav > .open > a:focus, 
#wrap_nav .navbar-default .navbar-nav > .open > a:hover{
	background: none;
}

#wrap_nav .navbar-default .navbar-toggle{
	margin-top: 25px;
	border: none;
	padding-left: 0px;
	padding-right: 0px;
}

#wrap_nav .navbar-default .navbar-toggle:focus, 
#wrap_nav .navbar-default .navbar-toggle:hover{
	background: none;
}

#wrap_nav .navbar-brand {
	height: 90px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 55px;
}

#wrap_nav .navbar-default .navbar-toggle .icon-bar{
	background-color: #0f2b5b;
}

#wrap_table.table{
	margin-bottom: 0px;
}

#wrap_table.table > tbody > tr > td, 
#wrap_table.table > tbody > tr > th, 
#wrap_table.table > tfoot > tr > td, 
#wrap_table.table > tfoot > tr > th, 
#wrap_table.table > thead > tr > td, 
#wrap_table.table > thead > tr > th{
	padding: 8px 20px;
}

#wrap_table.table > thead > tr > th{
	border-bottom: 0px;
}

#wrap_table.table > tbody > tr > td, 
#wrap_table.table > tbody > tr > th, 
#wrap_table.table > tfoot > tr > td, 
#wrap_table.table > tfoot > tr > th, 
#wrap_table.table > thead > tr > td, 
#wrap_table.table > thead > tr > th{
	border-top: 0px;
}

#wrap_table.table > tbody > tr:nth-child(odd) {
	background: #fff;
}

#wrap_table.table > tbody > tr:nth-child(even) {
	background: #e3f0f8;
}

#wrap_table.table > tbody > tr > td.action{
	padding: 8px 20px 8px 0px;
}

.modal-backdrop{
	background-color: #fff;
}

/*
Plugin Name: WP-Digg Style Paginator
Plugin URI: http://www.mis-algoritmos.com/2007/09/09/wp-digg-style-pagination-plugin-v-10/
Author: Victor De la Rocha
Author URI: http://www.mis-algoritmos.com
*/

div.pagination {
	font-size: 16px;
	color: #1c6296;
}
div.pagination span,
div.pagination a{
	padding: 10px;
}
div.pagination a {
	font-size: 16px;
	color: #1c6296;
}
div.pagination a:hover, div.pagination a:active {
	color: #0f2b5b;
}
div.pagination span,
div.pagination span.disabled {
	cursor: default;
	font-size: 16px;
	color: #1c6296;
}
div.pagination span.current {
	cursor: default;
	font-size: 16px;
	color: #0f2b5b;
	font-weight: bold;
}

/* custom style */
.br_0{
	border-radius: 0px;
}

.textarea_input{
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
	max-height: 150px;
}

.select_blue{
	border: 0px;
	-webkit-appearance: none;       
    -moz-appearance: none;    
    appearance: none;
    color: #fff;
    background: #0f2b5b url(../images/arrow_select.png) no-repeat right 15px;
}

.button_yellow{
	background: #f1b900;
	border-radius: 0px;
	border: 0px;
}

.input_file{
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

.button_yellow:hover, 
.button_yellow:focus, 
.button_yellow:visited,
.button_yellow:active, 
.button_yellow:active:focus{
	background: #f1b900;
	outline: 0px;
	border-radius: 0px;
	border: 0px;
	-webkit-box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
	-moz-box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0px 0px 0px rgba(0,0,0,0);
}

.button_white{
	background: #fff;
	border-radius: 0px;
	border: 0px;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(241,185,0,1);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(241,185,0,1);
	box-shadow: inset 0px 0px 0px 2px rgba(241,185,0,1);
}

.button_white:hover, 
.button_white:focus, 
.button_white:visited,
.button_white:active, 
.button_white:active:focus{
	background: #fff;
	outline: 0px;
	border-radius: 0px;
	border: 0px;
	-webkit-box-shadow: inset 0px 0px 0px 2px rgba(241,185,0,1);
	-moz-box-shadow: inset 0px 0px 0px 2px rgba(241,185,0,1);
	box-shadow: inset 0px 0px 0px 2px rgba(241,185,0,1);
}

#wrap_file_update{
	border: 1px solid #ccc;
	padding: 5px;
	overflow: hidden;
}

.name_file{
	width: 60%;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*overflow: hidden;*/
}

#wrap_icon_date{
	padding: 0px 12px;
	background: #fff;
	border: 0px;
	border-radius: 0px;
}

#cancel .modal-content,
.popup .modal-content{
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	border: 2px solid #0f2b5b;
}

#cancel .modal-header,
.popup .modal-header{
	padding: 10px;
	border-bottom: 0px;
}

#cancel .close,
.popup .close{
	color: #0f2b5b;
	opacity: 1;
}

#cancel .modal-body,
.popup .modal-body{
	padding: 0px 10px;
}

#cancel .modal-footer,
.popup .modal-footer{
	padding: 10px;
	border-top: 0px;
}

/* media queries */
@media (min-width: 1200px) {
	
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	.pl_0_res{ padding-left: 15px !important; }
	.pr_0_res{ padding-right: 15px !important; }

	#wrap_nav .navbar-collapse {
		padding-right: 15px;
		padding-left: 15px;
	}

	#wrap_nav .navbar-nav > li {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#wrap_nav .navbar-nav > li > a {
		border-right: 0px;
	}

	#wrap_nav .navbar-default .navbar-nav > .active {
		background: none;
	}

	#wrap_nav .navbar-nav > li > .dropdown-menu {
		background: none;
	}

	#wrap_nav .dropdown-menu > li > a {
		padding: 5px 15px 5px 25px;
	}

	#wrap_nav .dropdown-menu > li.bg_yellow {
		background: none;
	}

	#wrap_button_update.mt_20{
		margin-top: 0px;
	}

	#wrap_check_decrypt.mt_30{
		margin-top: 0px;
	}
}

@media (max-width: 480px) {

}

@media (max-width: 240px) {
	
}